@import "tailwindcss";

:root {
  --mangan: var(--color-amber-100);
}

@media (prefers-color-scheme: dark) {
	:root {
		--mangan: var(--color-amber-800);
	}
}

@theme {
	--color-mangan: var(--mangan);
}

@layer utilities {
	.h-screen {
		height: 100vh;
		height: -webkit-fill-available;
	}
}

@custom-variant landscape (@media (min-width: 600px) and (max-height: 550px));

@utility pb-inset-* {
	padding-bottom: max(calc(var(--spacing) * --value(integer)), env(safe-area-inset-bottom));
}

@utility no-scrollbar {
	@apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}
